<!-- Footer -->
<div class="push"></div>
    <footer class="social-links">
        <p class="paragraph-style" id="social-links-heading">Please follow me on social media</p>
        <a target="_blank" href="https://www.facebook.com/">
            <i class="fab fa-facebook" aria-hidden="true"></i>
            <span class="sr-only">Facebook</span>
        </a>
        <a target="_blank" href="https://twitter.com/">
            <i class="fab fa-twitter" aria-hidden="true"></i>
            <span class="sr-only">Twitter</span>
        </a>
        <a target="_blank" href="https://www.instagram.com/">
            <i class="fab fa-instagram" aria-hidden="true"></i>
            <span class="sr-only">Instagram</span>
        </a>
        <div class="footer-copyright">
            <div class="center-align container">
            © 2020 Gareth Buckley Web Design
            </div>
        </div>
    </footer>

    <!-- /.Footer -->