<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Paintings
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Type</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Paintings</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="type-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Type
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="" class="dropdown-item">Oil based</a>
                <a href="" class="dropdown-item">Pencil</a>
                <a href="" class="dropdown-item">Pen</a>
                <a href="" class="dropdown-item">xxx</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="size-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Size
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="" class="dropdown-item">Postit</a>
                <a href="" class="dropdown-item">A3</a>
                <a href="" class="dropdown-item">12" x 16"</a>
                <a href="" class="dropdown-item">16" x 20"</a>
            </div>
        </li>
    </ul>
</div>